<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   <add key="RMQHost" value="192.168.4.2" />
    <add key="RMQVHost" value="/Homeauto" />
    <add key="RMQUsername" value="homeauto" />
    <add key="RMQPassword" value="homeauto12345!" />
    <add key="RMQQueue" value="Reg" />
    <add key="RMQSubRoutingKey" value="Reg_rule" />
    <add key="RMQPubRoutingKey" value ="Log-kwh" />
    <add key="RMQExc" value="amq.topic" />
    <add key="DBPath" value="/home/nurman/Documents/GitHub/service_homeauto_lskk/Worker/log_kwh.db"/>

    </appSettings>
</configuration>