<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   <add key="RMQHost" value="192.168.4.3" />
    <add key="RMQVHost" value="/Homeauto" />
    <add key="RMQUsername" value="homeauto" />
    <add key="RMQPassword" value="homeauto12345!" />
    <add key="RMQQueue" value="SecuritySensor" />
    <add key="RMQSubRoutingKey" value="SecuritySensor" />
    <add key="RMQPubRoutingKey" value ="SecuityAktuator" />
    <add key="RMQExc" value="amq.topic" />
    <add key="DBPath" value="C:/User/PPTIK/Documents/GitHub/service_homeauto_lskk/Worker/SecurityIot.db"/>

    </appSettings>
</configuration>
