<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   <add key="RMQHost" value="167.205.7.226" />
    <add key="RMQVHost" value="/homeauto" />
    <add key="RMQUsername" value="homeauto" />
    <add key="RMQPassword" value="homeauto12345!" />
    <add key="RMQQueue" value="Sensor" />
    <add key="RMQQueueAktuator" value="Aktuator" />
    <add key="RMQSubRoutingKeySensor" value="Sensor" />
    <add key="RMQSubRoutingKeyAktuator" value ="Aktuator" />
    <add key="RMQExc" value="amq.topic" />
    <add key="DBPath" value="/home/nurman/Documents/GitHub/service_homeauto_lskk/Worker/logs.db"/>

    </appSettings>
</configuration>