<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
   <add key="RMQHost" value="192.168.4.2" />
    <add key="RMQVHost" value="/Homeauto" />
    <add key="RMQUsername" value="homeauto" />
    <add key="RMQPassword" value="homeauto12345!" />
    <add key="RMQQueue" value="Sensor" />
    <add key="RMQSubRoutingKey" value="Sensor" />
    <add key="RMQExc" value="amq.topic" />
    </appSettings>
</configuration>